


<div class="about-us-container">

    <div id="aboutImg" class="about-us-div-headline">
        <div class="call-image-container">

            <h1 class="headline1">عقيدتي ومنهجي</h1>


            <p class="h5 about-us-text">
                اتباع أثر النبي صلى الله عليه وآله وسلم والسير على منهاجه الذي
                كان عليه صلى الله عليه وآله وسلم هو وأصحابه رضي الله عنهم.
            <p class="h5 about-us-text">زاهر الشوا أبو أنس</p>
            <p class="h5 about-us-text">
                <a class="text-white"
                   href="tel:00905319896940"><ins>00905319896940</ins></a>
            </p>

            <a class="h5 about-us-text fa fa-facebook me-3 text-white"
               href="https://www.facebook.com/zaheralshawa1392" target="_blank"></a>
            <a class="h5 about-us-text fa fa-youtube me-3 text-white"
               href="https://www.youtube.com/channel/UCECu8pY7fhH3-orl-VIWyrA" target="_blank"></a>
            <a class="h5 about-us-text fa fa-twitter text-white" id="profile-link"
               href="https://twitter.com/zaher1392" target="_blank"></a>
        </div>
    </div>
</div>

<div class="text-center container mt-5">

    <video class="call-video" controls autoplay>
        <source src="~/Assets/call.mp4">


    </video>



</div>