@{
    ViewData["Title"] = "Privacy Policy";
}




<div id="privacy-policy-div">
<h1>سياسة الخصوصية</h1>
    <p>
        في هذا الموقع الذي يمكن الوصول إليه من www.z-alshawa.com ، إحدى أولوياتنا الرئيسية هي خصوصية زوارنا. تحتوي وثيقة سياسة الخصوصية هذه على أنواع المعلومات التي يتم جمعها وتسجيلها بواسطة هذا الموقع وكيف نستخدمها.
    </p>
    <p>
        إذا كانت لديك أسئلة إضافية أو تحتاج إلى مزيد من المعلومات حول سياسة الخصوصية الخاصة بنا ، فلا تتردد في الاتصال بنا.
    </p>
    <p>
        تنطبق سياسة الخصوصية هذه فقط على أنشطتنا عبر الإنترنت وهي صالحة لزوار موقعنا الإلكتروني فيما يتعلق بالمعلومات التي شاركوها و / أو يجمعوها في هذا الموقع. لا تنطبق هذه السياسة على أي معلومات يتم جمعها في وضع عدم الاتصال أو عبر قنوات أخرى غير هذا الموقع.
    </p>
    <h3>
        موافقة
    </h3>
    <p>
        باستخدام موقعنا ، فإنك بذلك توافق على سياسة الخصوصية الخاصة بنا وتوافق على شروطها.

    </p>
    <h3>
        المعلومات التي نجمعها
    </h3>
    <p>
        سيتم توضيح المعلومات الشخصية التي يُطلب منك تقديمها ، وأسباب مطالبتك بتقديمها ، في الوقت الذي نطلب منك فيه تقديم معلوماتك الشخصية.
    </p>
    <p>
        
إذا اتصلت بنا مباشرة ، فقد نتلقى معلومات إضافية عنك مثل اسمك وعنوان بريدك الإلكتروني ورقم هاتفك ومحتويات الرسالة و / أو المرفقات التي قد ترسلها إلينا وأي معلومات أخرى قد تختار تقديمها.
    </p>
    <p>
        
عند التسجيل للحصول على حساب ، قد نطلب معلومات الاتصال الخاصة بك ، بما في ذلك عناصر مثل الاسم وعنوان البريد الإلكتروني ورقم الهاتف.

    </p>
    <h3>
        كيف نستخدم معلوماتك
    </h3>
    <p>
        نستخدم المعلومات التي نجمعها بطرق مختلفة ، بما في ذلك:

    </p>
    <ul>
        <li>
            توفير وتشغيل وصيانة موقعنا
        </li>
        <li>
            تحسين وتخصيص وتوسيع موقعنا
        </li>
        <li>
            تطوير منتجات وخدمات وميزات ووظائف جديدة
        </li>
        <li>
            التواصل معك ، إما بشكل مباشر أو من خلال أحد شركائنا ، بما في ذلك لخدمة العملاء ، 
        </li>
        <li>
            لتزويدك بالتحديثات والمعلومات الأخرى المتعلقة بالموقع.
        </li>
          <li>
              إرسال رسائل البريد الإلكتروني لك
        </li>
          <li>
البحث عن ومنع الاحتيال
        </li>
          <li>
              ملفات الدخول
        </li>
    </ul>

    <h3>
        ملفات تعريف الارتباط وإشارات الويب
</h3>
<p>
    مثل أي موقع آخر ، يستخدم هذا الموقع ملفات تعريف الارتباط (الكوكيز). تُستخدم ملفات تعريف الارتباط هذه لتخزين المعلومات بما في ذلك تفضيلات الزوار والصفحات الموجودة على موقع الويب التي قام الزائر بالوصول إليها أو زيارتها. تُستخدم المعلومات لتحسين تجربة المستخدمين من خلال تخصيص محتوى صفحة الويب الخاصة بنا بناءً على نوع متصفح الزوار و / أو معلومات أخرى.

</p>
<p>
    لمزيد من المعلومات العامة حول ملفات تعريف الارتباط ، يرجى قراءة مقالة ملفات تعريف الارتباط على <a target="_blank" href="https://ar.wikipedia.org/wiki/%D9%85%D9%84%D9%81_%D8%AA%D8%B9%D8%B1%D9%8A%D9%81_%D8%A7%D8%B1%D8%AA%D8%A8%D8%A7%D8%B7"> ويكيبيديا.</a>
</p>
<p>
    تستخدم خوادم الإعلانات الخارجية أو شبكات الإعلانات تقنيات مثل ملفات تعريف الارتباط أو جافا سكريبت أو إشارات الويب المستخدمة في الإعلانات والروابط الخاصة بكل منها والتي تظهر على هذا الموقع ، والتي يتم إرسالها مباشرة إلى متصفح المستخدمين. 
</p>
<p>
    
لاحظ أن هذا الموقع لا يمكنه الوصول إلى أو التحكم في ملفات تعريف الارتباط هذه التي يستخدمها معلنون من الجهات الخارجية.
</p>
<h3>
    
سياسات خصوصية الطرف الثالث
</h3>
<p>
    لا تنطبق سياسة خصوصية هذا الموقع على المعلنين أو المواقع الأخرى. وبالتالي ، فإننا ننصحك بالرجوع إلى سياسات الخصوصية الخاصة بخوادم إعلانات الجهات الخارجية للحصول على معلومات أكثر تفصيلاً. قد يتضمن ممارساتهم وتعليماتهم حول كيفية الانسحاب من بعض الخيارات.
</p>
<p>
    يمكنك اختيار تعطيل ملفات تعريف الارتباط من خلال خيارات المتصفح الفردية الخاصة بك. لمعرفة المزيد من المعلومات التفصيلية حول إدارة ملفات تعريف الارتباط مع متصفحات الويب المحددة ، يمكن العثور عليها في مواقع الويب الخاصة بالمتصفحات.
</p>

<h3>
    معلومات الأطفال
</h3>
<p>
    جزء آخر من أولوياتنا هو إضافة الحماية للأطفال أثناء استخدام الإنترنت. نشجع الآباء والأوصياء على مراقبة نشاطهم عبر الإنترنت والمشاركة فيه و / أو مراقبته وتوجيهه.
</p>
<p>

هذا الموقع لا يجمع عن قصد أي معلومات تعريف شخصية من الأطفال دون سن 13 عامًا. إذا كنت تعتقد أن طفلك قدم هذا النوع من المعلومات على موقعنا ، فنحن نشجعك بشدة على الاتصال بنا على الفور وسنبذل قصارى جهدنا لإزالة هذه المعلومات على الفور من سجلاتنا.
</p>

</div>