@model EditPostingCardViewModel

@{
    ViewData["Title"] = "تعديل بطاقة";
    //Layout = "_CreatePCardLayout";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group rtl-direction my-3">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group rtl-direction my-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" rows="5" cols="40" id="content-edit"></textarea>
                <script type="text/javascript">
                    CKEDITOR.replace('content-edit');
                </script>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">العودة إلى قائمة البطاقات</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}