@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "تم حجب الوصول";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">ليس لديك الصلاحية للولوج إلى هذه الصفحة , راجع أحد المشرفين</p>
</header>
