@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تأكيد نسيت كلمة السر";
}

<h1>
    الرجاء التحقق من بريدك الالكتروني واتباع التعليمات لتغيير كلمة المرور الخاصة بك
</h1>
<h2>
    إن لم يصلك بريد لإعادة تعيين كلمة المرور تأكد من أنك أكملت التحقق من بريدك الالكتروني عن طريق رابط التحقق
</h2>

